In [3]:
#List in python
#syntax 
list_name = [1,2,3,4]
print(list_name)
list_name = [1,2,3.5,4.5, "vishal"]
print(list_name)
list_name = [[1,"Hello", 9.7], 1, 5.0, "World"]
print(list_name)

[1, 2, 3, 4]
[1, 2, 3.5, 4.5, 'vishal']
[[1, 'Hello', 9.7], 1, 5.0, 'World']

In [11]:
#indexing in list
# lst1 = [1,2,3,4]
lst1 = ["hello", 1, 2.0, [1,2,3]]
print(lst1[0])
print(lst1[-1])

hello
[1, 2, 3]

In [15]:
#slicing
print(lst1[:]) #print all ele of list

#lst1[start_index:end_index]
print(lst1[0:2])
print(lst1[2:])

#lst1[start_index : end_index : step_value]
lst1 = [1,2,3,4,5,6,7,8,9]
print(lst1[1::2])

['hello', 1, 2.0, [1, 2, 3]]
['hello', 1]
[2.0, [1, 2, 3]]
[2, 4, 6, 8]

In [32]:
# print(lst1[-1:-5:-1])
# lst2 = lst1.reverse()
# print(lst2)
# lst1.reverse()
# print(lst1)
print(lst1[::-1]) #python phrases

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [39]:
# lst1.remove(8)
print(lst1)

#delete
del lst1[3]
print(lst1)

lst1.pop(1) #--> index
print(lst1)

[1, 7]

IndexError: list assignment index out of range

In [44]:
#list append
lst1 = [1,2,3,4]
lst1.append(5)
print(lst1)
lst1.append("Hello")
lst1.append([6,7,8])
print(lst1)

#insert
lst1.insert(2, 10)
print(lst1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'Hello', [6, 7, 8]]
[1, 2, 10, 3, 4, 5, 'Hello', [6, 7, 8]]

In [45]:
#extend
lst1 = [1,2,3,4]
lst2 = [5,6,7]
lst1.extend(lst2)
print(lst1)

[1, 2, 3, 4, 5, 6, 7]

In [46]:
lst1 = [1,2,3,4]
lst2 = [5,6,7]
lst1 = lst1 + lst2
print(lst1)

[1, 2, 3, 4, 5, 6, 7]

In [50]:
#sorting a list
lst1 = [8,9,5,3,1]
lst2 = sorted(lst1)
print(lst2)
print(lst1)
lst1.sort() #inplace sorting
print(lst1)

[1, 3, 5, 8, 9]
[8, 9, 5, 3, 1]
[1, 3, 5, 8, 9]

In [51]:
lst1 = [8,9,5,3,1]
lst2 = sorted(lst1, reverse = True)
print(lst2)

[9, 8, 5, 3, 1]

In [53]:
lst1 = [6, 7.9,2.3, 5]
lst1.sort()
print(lst1)
lst1 = [7, 'a', 8.9, 2.3]
lst1.sort()
print(lst1)

[2.3, 5, 6, 7.9]

TypeError: '<' not supported between instances of 'str' and 'int'

In [57]:
lst1 = [1,2,3,4]
lst2 = lst1
lst2.append(5)
print(lst1)
print(lst1 is lst2) #is --> identity operator
lst2 = [1,2,3,4]
print(lst1)
print(lst2)
print(lst1 is lst2)

[1, 2, 3, 4, 5]
True
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
False

In [59]:
a = 3
b = 3
print(a is b)
lst1 = [1,2,3,4]
lst2 = [1,2,3,4]
print(lst1 is lst2)

True
False

In [62]:
#membership operator
# in not in
lst1 = [1,2,3,4]
print(3 in lst1)
print(3 not in lst1)

True
False

In [ ]:
#loops and output formatting
# i = 1
# while i<=10:
#     print(i)
#     i+=1 # i = i+1
#     #i++ no unary

i = 1
while i<=5:
    print(i)
    i+=1
else:
    print("Out of while loop")

In [1]:
i = 1
while i<=5:
    print(i)
    i+=1
else:
    print("Out of while loop")

1
2
3
4
5
Out of while loop

In [2]:
#for loop
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(10, 1, -2):
    print(i)
else :
    print("Out of for loop")

10
8
6
4
2
Out of for loop

In [8]:
lst1 = [1,2,3,4]

for ele in lst1:
    print(ele)

for i in range(len(lst1)): #
    print(lst1[i])

1
2
3
4
1
2
3
4

In [11]:
#break and continue
for i in range(1,10):
    if(i == 9):
        break
    print(i)
else : 
    print("Out of for loop")

1
2
3
4
5
6
7
8

In [17]:
#list comprehension
lst1 = []
for i in range(1,6):
    lst1.append(i)
print(lst1)

lst2 = [ i for i in range(1,6)]
print(lst2)

lst3 = [[i for i in range(1,4)] for j in range(1,4)]
print(lst3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [32]:
#tuples --> immutable, indexed ds
#creation
t = () #--> empty tuple
t = (1,2,3)
print(t)
t = (1, 2, 4.5, "Hello", (3,4,5),[1,2,3])
print(t)
print(t[0])
print(t[-1])
# t[0] = 10
print(t[:])
print(t[1:5])
print(t[::2])
print(t[::-1])
# t.delete()
del t #deleting entire tuple
# print(t)

(1, 2, 3)
(1, 2, 4.5, 'Hello', (3, 4, 5), [1, 2, 3])
1
[1, 2, 3]
(1, 2, 4.5, 'Hello', (3, 4, 5), [1, 2, 3])
(2, 4.5, 'Hello', (3, 4, 5))
(1, 4.5, (3, 4, 5))
([1, 2, 3], (3, 4, 5), 'Hello', 4.5, 2, 1)

In [38]:
t = (1, 2, 4.5, "Hello", (3,4,5),[1,2,3])
print(t[-1][0])
print(type(t[-1]))
print(type(t))
t[-1][0] = 10;
t[-1].append(5)
print(t)

1
<class 'list'>
<class 'tuple'>
(1, 2, 4.5, 'Hello', (3, 4, 5), [10, 2, 3, 5])

In [42]:
t = (3,2,1)
t2 = sorted(t)
print(t2)
print(type(t2))
t3 = tuple(t2)
l2 = list(t3)
print(t3)
print(l2)

[1, 2, 3]
<class 'list'>
(1, 2, 3)
[1, 2, 3]

In [44]:
#list split
s = "This,is,a,string"
l2 = s.split(',')
print(l2)
s = "This is another string"
l2 = s.split()
print(l2)

['This', 'is', 'a', 'string']
['This', 'is', 'another', 'string']

In [45]:
t = (3,2,1)
t.sort()
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [48]:
t = ("Hello")
print(type(t))
t = ("Hello",)
print(type(t))
t = "World",
print(type(t))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [54]:
t = (1,2,3)
print(1 in t)
print(len(t))
mini = min(t)
maxi = max(t)
summ = sum(t)
print(mini)
print(maxi)
print(summ)

#output formatting
print("Minimum value is : ", mini, " Maximum value is : ", maxi)
t = (1,2,3,4)
print("Tuple is ", t)

True
3
1
3
6
Minimum value is :  1  Maximum value is :  3
Tuple is  (1, 2, 3, 4)

In [62]:
#set --> non-indexed, but mutable , randomly arranged elements
# hashset data structure --> unique items
# s = {1,2,3,4}
s = set()
# s = {} --> it becomes dict
print(type(s))
s = {1,20,3,40, 7, 5, 5, 1, 1, 1}
print(s)
# print(s[0])

<class 'set'>
{1, 3, 5, 7, 40, 20}